nav{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #575555;
}

.left-nav-container, .right-nav-container{
    display: flex;
    gap: .5rem;
}

.nav-item{
    border: 1px solid #828181;
    padding: .3rem .5rem;
    border-radius: .4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .8;
}

.input-box{
    background-color: transparent;
    border: 1px solid #5d5c5c;
    padding-left: .5rem;
    border-radius: .3rem;
    color: #fff;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input{
    background-color: transparent;
    border: none;
    padding: .5rem;
    padding-left: 0;
    border-radius: .3rem;
    color: #fff;
    outline: none;
}

.search-icon{
    border: 1px solid #5c5b5b;
    padding: .5rem;
}

.github-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    cursor: pointer;
}

.github-link{
    text-decoration: none;
    color: #fff;
}

.dashboard{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .3rem;
    border-radius: .3rem;
}
.dashboard:hover{
    background-color: #1c1c1d;
}

.profile{
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    opacity: .7;
}